

.full-width{
    width: 100%;
}
.landing-container{
    padding:0 50px;
    margin:auto;
}
.fullcontainer{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}