.card-container {
    display: flex;
    justify-content: space-between;
}

.card-container .ms-DocumentCard{
    flex:1;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    padding:30px;
    border-top:0px;
    text-align:left;
}
.card-container .ms-DocumentCard:last-child{
    margin-right: 0;

}
.card-container .ms-DocumentCard .card-status{
    font-size: 15px;
    margin-bottom: 5px;
    color: #ccc;
    text-align: left;
}

.card-container .ms-DocumentCard button{
    text-decoration: none;
}
